<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_name }}</title>
</head>
<body>
    <h1>{{ recipe_name }}</h1>
    <p><strong>Prep Time:</strong> {{ recipe_prep_time }} minutes</p>
    <p><strong>Cook Time:</strong> {{ recipe_cook_time }} minutes</p>
    <h2>Ingredients</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient[0] }} - {{ ingredient[1] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
